<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="DB_CONN_STRING" connectionString="User Id=sa;Password=1234567;Data Source=DESKTOP-36129HG\SQLEXPRESS;database=Warehouse;Min Pool Size=8;Max Pool Size=50;Pooling=true;Connection Lifetime=150;" providerName="System.Data.SqlClient" />
  </connectionStrings>
</configuration>