<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <add name="LOCAL" connectionString="User Id=sa;Password=1234567;Data Source=DESKTOP-3FSOTT0\SQLEXPRESS;database=Warehouse;Min Pool Size=8;Max Pool Size=50;Pooling=true;Connection Lifetime=150;" providerName="System.Data.SqlClient" />
  </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="HTTP" />
            </basicHttpBinding>
            <netNamedPipeBinding>
                <binding name="NetNamedPipeBinding_IWarehouseService" />
            </netNamedPipeBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2772/api" binding="basicHttpBinding"
                bindingConfiguration="HTTP" contract="WWS.IWarehouseService"
                name="HTTP" />
            <endpoint address="net.pipe://localhost/warehouseapi" binding="netNamedPipeBinding"
                bindingConfiguration="NetNamedPipeBinding_IWarehouseService"
                contract="WWS.IWarehouseService" name="NetNamedPipeBinding_IWarehouseService">
                <identity>
                    <servicePrincipalName value="host/DESKTOP-3FSOTT0" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>